@import url('reset.css');
@import url('webfonts.css');
@import url('weather-icons.css');
@import url('weather-icons-wind.css');
@import url('bootstrap-grid.min.css');

body{
    background-color: rgb(90,173,237);
    font-size: 16px;
    font-family: notoSansKr, sans-serif;
    color: #fff;
    font-weight: 400;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.text-center{
    text-align: center;
}
.searchBox{
    border: 1px solid rgba(255,255,255,0);
    border-radius: 1em;
    padding: 3px;
}
.searchBox input[type=search]{
    width: 1px;
    transition: all .3s;
}
.searchBox.active input[type=search]{
    width: 150px;
}
.searchBox.active{
    border: 1px solid rgba(255,255,255,1);
}
.search{
    margin-right: 5px;
}
#search{
    border: none;
    background-color: transparent;
}
#search:focus{
    outline: none;
}
h1.city-title{
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
}
.ntime{
    margin-bottom: 1.2em;
}
.margin-auto{
    margin-left: auto;
    margin-right: auto;
}
#iconbox,#nowtemp{
    height: 100px;
}
.big-info{
    padding-left: 50px;
    padding-right: 50px;
}
#iconbox{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#iconbox img{
    width: 80px;
    height: 80px;
}
#nowtemp{
    font-size: 3.5em;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 700;
}
#minmaxtemp{
    margin-bottom: 10px;
}
.py-20{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.light-blue{
    background-color: rgba(255,255,255,.3);
}
.light-blue li{
    line-height: 1.8em;
}
.C-info .wi{
    width: 24px; /*C-info 안의 아이콘을 정렬시킴*/
    text-align: center;
}
.material-icons{
    width: 16px;
    font-size: 20px;
}
/*dayweather */
.dayWeather{
    width: 100px;
    padding: 15px;
    background-color: rgba(255,255,255,.3);
    color: #555;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(255,255,255,.15),
                0 0 5px 0 rgba(0,0,0,.2);
                margin-bottom: 30px;
}
.dayWeater p{
    margin: 5px;
}
.daydate{
    font-weight: 700;
    margin-bottom: 10px;
}
.dayWeather img{
    height: 50px;
}
.daytemp{
    margin-top: 10px;
    margin-bottom: 5px;
}


/*swiper demos css*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin: 0;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* /swipe demos css*/
