/* 메뉴-침대 */

#bedroom {
    width: 1500px;
    height: 700px;
    background-image: url(../images/menu_bed_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
} 

#bedroom p {
    width: 1500px;
    height: 700px;
    background: rgba(0, 0, 0, 0.2);
    line-height: 700px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    font-family: '나눔바른고딕';
}

/* 로케이션 바 */

#bar {
    width: 1500px;
    height: 40px;
    /* background: palegreen; */
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

#bar ul:nth-child(1) span {
    color: #090281;
    font-weight: bold;
}

#bar ul {
    display: flex;
    align-items: center;
}

#bar ul li {
    width: 70px;
    height: 40px;
    /* background: paleturquoise; */
    line-height: 40px;
}

#bar ul:nth-child(2) li:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
    color: #090281;
}

/* new */

#new {
    width: 1500px;
    height: 1400px;
    /* background: palegoldenrod; */
    margin: 10px auto;

}

#new h2 {
    text-align: center;
    font-size: 35px;
    font-weight: normal; 
     font-family: 'ChosunBg';
    color: #090281;
    padding-top: 50px;
    

}


#new h4 {
    text-align: center;
    color: #333;
    letter-spacing: -1px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 30px;
}

#new ul {
    width: 1400px;
    height: 310px;
    /* background: palegreen; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
    
    cursor: pointer;
    
}

#new ul li {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#new ul.box_img li:hover div.box {
    opacity: 1;
    
    transition: 1s;
    top: 0;
} 

#new ul li div.box {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/1521447268000_l.jpg);
    opacity: 0;
}


#new ul.box_img li{
    width: 300px;
    height: 300px;
    /* background: paleturquoise; */
}

#new ul.box_img li img {
    width: 100%;
    height: 100%;
}

#new ul.main_txt {
    width: 1400px;
    height: 150px;
     /* background: palevioletred; */
    margin: 0 auto;
}

#new ul.main_txt li a {
    color: #333;
}

#new ul.main_txt li {
    width: 300px;
    height: 130px;
    /* background: papayawhip; */
    text-align: left;
}

#new ul.main_txt li p {
    padding-top: 8px;
}

#new ul.main_txt li p:nth-of-type(1) {
    font-family: '나눔바른고딕';
    letter-spacing: -1px;
    font-size: 19px;
}

#new ul.main_txt li p:nth-of-type(2) {
    font-weight: bold;
}

#new ul.main_txt li p:nth-of-type(3) i {
    padding-right: 5px;
    padding-left: 2px;
}

#new ul.main_txt li p:nth-of-type(3) i:hover {
    color: #090281;
}

#new ul.main_txt li p:nth-of-type(4) {
    display: inline-block;
    background: #6b9de8;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    
}

/* 밑에 번호 */

#store_bottom {
    width: 1000px;
    height: 50px;
    /* background: palegoldenrod; */
    margin: 0 auto;
    margin-top: 30px;
}

#store_bottom ol {
    width: 400px;
    height: 50px;
    /* background: papayawhip; */
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#store_bottom ol li {
    width: 50px;
    height: 50px;
    border: 1px solid #666;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    color: #666;
    cursor: pointer;
    margin: 0 5px;
}

#store_bottom ol li:hover {
    border: 1px solid #090281;
    color: #090281;
}


