input {box-sizing: border-box; vertical-align: middle;}

#main_txt {
    width: 1500px;
    height: 400px;
     /* background: paleturquoise; */
    margin: 0 auto;
    margin-top: 30px;
}

#main_txt h2 {
    text-align: center;
    font-size: 35px;
    font-weight: normal; 
     font-family: 'ChosunBg';
    color: #090281;
    padding-top: 50px;
    

}

#main_txt > p {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

#main_txt h4 {
    text-align: center;
    color: #333;
    font-size: 18px;
    line-height: 1.3;
    font-weight: normal;
}

/* 고객센터 메인 창 */

#main_banner {
    width: 1500px;
    height: 50px;
    /* background: palegreen; */
    margin:  50px auto;
}

#main_banner ul {
    width: 1500px;
    height: 50px;
    /* background: tan; */
    margin: 0 auto;
    
}

#main_banner ul li.btn {
    width: 900px;
    height: 50px;
    /* background: paleturquoise; */
    margin: 0 auto;
}

#main_banner ul li.btn p {
    width: 400px;
    height: 50px;
    /* background: papayawhip; */
    text-align: center;
    line-height: 50px;
    border: 2px solid #ddd;
    font-size: 20px;
    letter-spacing: -1px;
    color: #333;
}

#main_banner ul li.btn p a {
    color: #333;
}

#main_banner ul li.btn p:hover {
    border: 2px solid #090281;
}

#main_banner ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#main_banner ul li.star {
    width: 1500px;
    height: 30px;
    text-align: right;
    background: palegoldenrod;
    line-height: 30px;
    border-bottom: 2px solid #ddd;
    justify-content: right;
}

#main_banner ul li.star span {
    color: #090281;
    font-size: 20px;
}

#main_banner ul li p.span {
    color: #090281;
    font-size: 20px;
}

#main_banner ul li.click {
    width: 1500px;
    height: 50px;
    background: palevioletred;
    margin: 15px auto;
    line-height: 50px;

}

#main_banner ul li.click p.left {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
    width: 150px;
    
}

#main_banner ul li.click p.line {
    width: 2px;
    height: 40px;
    background: rebeccapurple;
}

#main_banner ul li.click p.right {
    width: 1300px;
    height: 50px;
    background: palegreen;
}

/* 자주묻는 질문 */

ul li {width: 1200px; 
    position: relative; 
    cursor: pointer;
    margin: 0 auto;
}

#faq ul.box li i { position: absolute; 
    right: 30px; 
    top:15px;} 

ul li.que {height: 50px; 
  border: 1px solid #ddd;
    border-bottom: none;
    box-sizing: border-box;
}

ul li.que:nth-child(20) {
    border-bottom: 1px solid #ddd;
}

    ul li.que p {
        line-height: 50px;
        font-size: 16px;
        letter-spacing: -1px;
    }

    ul li.que p span {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
    }

ul li.ans {/*height: 100px; */
    display: block;
    box-sizing: border-box;
    padding: 20px;
    background: #f2f2f2; 
    display: none;
    line-height: 1.5;
    
}

    ul li.ans h4 {
        font-weight: normal;
        padding-left: 10px;
    }

    .box .que:nth-of-type(19){
        border-bottom: 1px solid #ddd !important;
      
    }

    /* 하단 숫자 */

#store_bottom {
    width: 1000px;
    height: 50px;
    /* background: palegoldenrod; */
    margin: 0 auto;
    margin-top: 30px;
}

#store_bottom ol {
    width: 400px;
    height: 50px;
    /* background: papayawhip; */
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#store_bottom ol li {
    width: 50px;
    height: 50px;
    border: 1px solid #666;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    color: #666;
    cursor: pointer;
    margin: 0 5px;
}

#store_bottom ol li:hover {
    border: 1px solid #090281;
    color: #090281;
}
